{% extends "controles/base.html" %}
{% load custom_filter %}
{% load static %}

{% block content %}


<input type="text" id="myInput" onkeyup="searchTable('example','myInput');" placeholder="Search rows.." title="Type in a name">

<button class="export" onclick="exportTableToCSV($('#example'),'export.csv');">CSV</button>

<table id ="example"  class="table" >
  <thead>
    <th>
    </th>
    
    <th onclick="sortTable(1)">
      #
    </th>

    <th>		
      Projeto
    </th> 
    
    <th>		
      Nome
    </th> 
    
    <th>
    	Marca
    </th>

    <th>
      Modelo
    </th>

    <th>
      Categoria
    </th>

    <th>
      Subcategoria
    </th>

    <th>
      Característica
    </th>

    <th>
      Quantidade
    </th>

    <th>
    	Consumível
    </th>
	
    <th>
    	Equipamento
    </th>
  
    <th>
      Ação
    </th>
  
  </thead>
  
  <tbody>

  {% for item in itens %}

    <tr scope="row">
      <td><img  src="{{ item.status_disponivel | status }}" class="img_status" alt="status"></td>
      <td>{{ item.id_item }}</td>
      <td>{{ item.projeto.nome | title }}</td> 
      <td>{{item.nome | title}}</td>
      <td>{{item.marca | title}}</td>
      <td>{{item.modelo | title}}</td>
      <td>{{item.categoria | title}}</td>
      <td>{{item.subcategoria | title}}</td>
      <td>{{item.caracteristica}}</td>
      <td>{{item.quantidade}}</td>
      <td>{{item.consumivel}}</td>
      <td>{{item.id_equipamento_pertencente.nome | title}}</td>
      <td><a href="{% url 'controles:delete_item' item.id_item %}">delete</a><a href="{% url 'controles:editar_item' item.id_item %}">editar</a></td>
    </tr>

    {% empty %}
    	<p>Não tem nenhum item cadastrado ainda.</p>
    {% endfor %}

</tbody>
</table>

<a href="{% url 'controles:novo_item' %}">Adicionar</a> 




{% endblock content %}