{% load custom_filter %}
{% load static %}

<table style="text-align: center">

{% for item in itens_equipamento %}

<!--
<table style="width:100%;text-align: center">
<tbody>
  <tr>
    <td><p hidden>{{ item.status_disponivel | status }}</p> <img  src="{{ item.status_disponivel | status }}" style="width: 16px;" alt="foo"></td>
    <td>{{item.nome | title}}</td>
    <td>{{item.marca | title}}</td>
    <td>{{item.modelo | title}}</td>
    <td>{{item.categoria | title}}</td>
    <td>{{item.subcategoria.nome | title}}</td>
    <td>{{item.caracteristica}}</td>
    <td>{{item.quantidade}}</td>
    <td>{{item.consumivel}}</td>
    <td><a href="{% url 'controles:delete_item' item.id_item %}">delete</a><a href="{% url 'controles:editar_item' item.id_item %}">editar</a></td>
  </tr>

</tbody>
</table>
-->
<tr>

<td>

<p> {{item.nome}} -  {{item.marca | title}} {{item.modelo | title}} {{item.subcategoria.nome | title}}</p> 
</td>
<td><a href="{% url 'controles:delete_item' item.id_item %}">delete</a><a href="{% url 'controles:editar_item' item.id_item %}">editar</a></td>
</tr>

  {% empty %}
  	<p>Não tem nenhum item cadastrado ainda.</p>
  {% endfor %}

</table>