{% extends "controles/base.html" %}
{% load custom_filter %}
{% load static %}


<script src="{% static 'exportCSV.js' %}"></script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>


{% block content %}

<script src="{% static 'exportCSV.js' %}"></script>
  <script>

console.log("TESTE FUNCIONOU!")

$(document).on("click", "#id_categoria", function() {

$("#id_categoria").change(function () {
      var url = "{% url 'controles:load_subcategorias' %}";  // get the url of the load_subcategorias view
  
      var id_categoria = $(this).val();  // get the selected categoria ID from the HTML input

      $.ajax({                       // initialize an AJAX request
        url:url ,                    // set the url of the request (= localhost:8000/ajax/load_subcategorias/)
        data: {
          'id_categoria': id_categoria       // add the categoria id to the GET parameters
        },
        success: function (data) {   // `data` is the return of the `load_subcategorias` view function
          $("#id_subcategoria").html(data);  // replace the contents of the subcategoria input with the data that came from the server
        }
      });

    });
});
    
  </script>


<input type="text" id="myInput" onkeyup="searchTable('example','myInput');" placeholder="Search rows.." title="Type in a name">

<button class="export btn btn-info" onclick="exportTableToCSV($('#example'),'export.csv');">CSV</button>

<table id ="example"  class="table" >
  <thead>
    <th>
    </th>
    
    <th onclick="sortTable(1)">
      #
    </th>

    <th>		
      Projeto
    </th> 
    
    <th>		
      Nome
    </th> 
    
    <th>
    	Marca
    </th>

    <th>
      Modelo
    </th>

    <th>
      Categoria
    </th>

    <th>
      Subcategoria
    </th>

    <th>
      Característica
    </th>

    <th>
      Quantidade
    </th>

    <th>
    	Consumível
    </th>
	
    <th>
    	Equipamento
    </th>
  
    <th>
      Ação
    </th>
  
  </thead>
  
  <tbody>

  {% for item in itens %}

    <tr scope="row">
      <td><img  src="{{ item.status_disponivel | status }}" class="img_status" alt="status"></td>
      <td>{{ item.id_item }}</td>
      <td>{{ item.projeto.nome | title }}</td> 
      <td>{{item.nome | title}}</td>
      <td>{{item.marca | title}}</td>
      <td>{{item.modelo | title}}</td>
      <td>{{item.categoria | title}}</td>
      <td>{{item.subcategoria | title}}</td>
      <td>{{item.caracteristica}}</td>
      <td>{{item.quantidade}}</td>
      <td>{{item.consumivel}}</td>
      <td>{%if item.id_equipamento_pertencente %} {{equipamentos.62}} {% endif %}</td>
      <td><a href="{% url 'controles:delete_item' item.id_item %}">delete</a><a href="{% url 'controles:editar_item' item.id_item %}">editar</a>
        <button type="button" class="btn btn-primary "  onclick="loadDoc('{% url 'controles:editar_item_modal' item.id_item %}')" data-toggle="modal" data-target="#ModalItem"> Editar</button>
        <button type="button" class="btn btn-primary "  onclick="loadDoc('{% url 'controles:duplicar_item_modal' item.id_item %}')" data-toggle="modal" data-target="#ModalItem"> Duplicar</button></td>
    </tr>

    {% empty %}
    	<p>Não tem nenhum item cadastrado ainda.</p>
  {% endfor %}

</tbody>
</table>
<a href="{% url 'controles:novo_item' %}">Adicionar</a> 
<button type="button" class="btn btn-primary "  onclick="loadDoc('{% url 'controles:novo_item_modal' %}')" data-toggle="modal" data-target="#ModalItem"> Novo </button></td>


<!-- Modal -->


<div class="modal fade" id="ModalItem" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Editar Item</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      
     <div id="demo">
     	</div>
	</div>
    </div>
</div>
</div>

{% endblock content %}