{% extends "controles/base.html" %}



{% block content %}


<p>Notas Fiscais</p>
<p id="resposta"></p>
<ul>
	{% for notafiscal in notasfiscais %}
	<li>
		{% if notafiscal.documento %}
			<a href="{{ notafiscal.documento.url}}">{{ notafiscal }} </a> 
		 {% else %}
			<a href="">{{ notafiscal }} </a> 
		{% endif %}

		<a  href="{% url 'controles:delete_notafiscal' notafiscal.id %}">delete</a> 
		<a class="delete" href="{% url 'controles:NotaFiscalDelete' notafiscal.id %}">delete view</a> 
	</li>
	{% empty %}
	<li> Não tem nenhuma nota fiscal cadastrado ainda. </li>
	{% endfor %}

</ul>

<a href="{% url 'controles:nova_notafiscal' %}">Adicionar nova Nota Fiscal</a> 

{% endblock content %}

