{% load pdf_filters %}

<link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,200;0,300;0,500;1,700&display=swap" rel="stylesheet">

<style>
  .sansserif {
  font-family: 'Roboto Mono', monospace;
  font-size: 15px;
}
</style>

<table >
  <tr style="width:250px;">
    <td>
    	<img  src="img/ufpr.jpg" style="width: 60px;" alt="foo">
	</td>
  <td class = "sansserif" style="width:100px; text-align: center"><b>000000</b></td>
</tr>
  <tr>  
    <td  style="width:50px" >
    	<img  src="img/itti.png" style="width: 50px; " alt="foo">
	</td>
    <td class = "sansserif" style="width:80px; height:50px ; padding: 2px;text-align: center"><b>
      ACR000
      000000
    </b>
  </td>
  </tr>
  
</table>
