{% load pdf_filters %}


</!DOCTYPE html>
<html>
<head>
  <title></title>
  <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,200;0,300;0,500;1,700&display=swap" rel="stylesheet">

<style>
  .sansserif {
  font-family: 'Roboto Mono', monospace;
  font-size: 15px;
}
</style>
</head>
<body>


<table  >

  <tr>  
    <td  style="width:75px" >
      <img  src="img/itti-2.png" style="width: 75px; " alt="foo">
  </td>
    <td class = "sansserif" style="width:80px; height:50px ; padding: 2px; text-align: center"><b>
     {{projeto}}
     {{itti}}
    </b>
  </td>
  </tr>
  
</table>

<canvas id="meuCanvas"></canvas>

<script>
   var canvas = document.getElementById('meuCanvas');
   var pincel = canvas.getContext('2d');
       pincel.moveTo(0, 0);
    pincel.lineTo(200, 200);
    pincel.stroke();
</script>


</body>
</html>