{% extends "controles/base.html" %}

{% block header %}

<div class='jumbotron'>
	<h1>Departamentos</h1>
</div>
{% endblock header %}

{% block content %}

<ul>
	{% for departamento in departamentos %}
	<li>
		<a href="">{{ departamento }} </a> <a href="{% url 'comuns:editar_departamento' departamento.id %}">editar</a>
		<a href="{% url 'comuns:delete_departamento' departamento.id %}">delete</a> 
	</li>
	{% empty %}
	<li> Não tem nenhum departamento cadastrado ainda. </li>
	{% endfor %}

</ul>

<a href="{% url 'comuns:novo_departamento' %}">Adicionar novos departamentos</a> 

{% endblock content %}